/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@font-face {
    font-family: 'Goudy old';
    src: url(goudy-old-style-extra-bold-bt.ttf);
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
li {
    font-family: 'Oxygen', sans-serif !important;
}
.controls {
    width: 100%;
    position: absolute;
}
.controls button {
    font-size: 30px;
    text-shadow: 2px 2px 0 #ccc;
    color: #898989 !important;
}
.controls button+button {
    margin-left: 25px
}
.innerctrl {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    width: 240px;
    text-align: center;
    border-bottom: 2px solid rgba(218, 218, 218, 0.8);
}
.videoFrame {
    text-align: center;
}
.videoFrame button.button-icon {
    font-size: 40px;
}
.loginbox {
    padding: 6px !important;
    border-radius: 0px !important;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.75);
    width: 364px;
    text-align: center;
    float: left;
}
img.logo {
    width: 100%;
    margin-top: 43%;
}
.zflo {
    width: 54px;
    height: 23px;
    margin-top: 5px;
    margin-left: 5px;
}
.background {
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
}
.button-go {
    padding: 4px 10px;
    background: white;
    border: 0;
    border-radius: 0;
}
.module {
    width: 400px;
    margin: 0 auto;
}
.button.light {
    color: #FFFFFF;
}
.videoHolder {
    background: white;
    box-shadow: 0px 0px 5px #ccc;
    border-bottom: 2px solid #ccc;
}
.videoHolder .button-icon {
    margin: 10px 0;
    text-shadow: 2px 2px 0 #ccc;
}
.item-content .icon {
    color: #aaa;
}
.scroll-content {
    background: #4c4d4e;
}
.list li {
    background: white;
}
/*Icon colors*/

.appclass {
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
}
.showpremium {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    top: 0px;
    margin-top: 0;
    position: relative;
    z-index: 0;
}
.hidepremium {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    top: -53px;
    margin-top: 0;
    position: relative;
    z-index: 0;
}
.loginbtn {
    margin-top: 4px;
    width: inherit;
}
.bottomrowrecord {
    bottom: 0px;
    position: fixed;
    left: 0px;
}
/*end*/

.videosection {
    background: #fff url(../img/playbutton.png) no-repeat center center fixed;
overflow: hidden;
}
.videocontrols img {
    height: 50px;
    width: auto;
}
.innercontrols {
    float: left;
}
.videocontrols .mybutton {
    height: 50px;
    color: white;
    font-weight: 700;
    padding: 16px;
}
.videocontrols .mybutton.addvideo {
    padding: 5px 50px;
    height: 50px;
    background: #B32726;
    color: white;
    font-family: 'Goudy old';
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    text-shadow: none !important;
}
.videocontrols {
    background: white;
}
.playerbutton {
    font-size: 50px;
    padding: 0 15px;
    float: left;
}
.innercontrols.last {
    float: right;
}
input.videospeedchanger {
    width: 270px;
}
.videoseeker {
    background: rgba(126, 127, 131, 0.14);
    width: 100%;
    position: absolute;
    margin-top: -53px;
    opacity: 0.7;
}
input.videoseek {
    margin: 9px 15px;
    width: 97%;
}
.videoeditpencil {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 25px;
}
span.ion-edit {
    background: #ef2233;
    padding: 9px;
    line-height: 42px;
    color: white;
    opacity: 0.5;
}
.edit-holder {
    background: #FFC6C1;
    float: right;
}
.button {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30) !important;
    -webkit-transition: all 300ms ease;
}
.button:hover {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30) !important;
}
.bar.bar-stable {
    border-color: #E02B1C;
    background-color: #ef3323;
    background: #ef3323;
    color: #FFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
h1.title {
    font-family: 'Goudy old' !important;
    text-transform: uppercase;
}
.bar-stable .button {
    color: #FFF;
}
.videocontrols .button.button-icon.icon {
    color: #00ABBD;
}