/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
 body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
li {
    font-family: 'Oxygen', sans-serif !important;
}
.controls {
    width: 100%;
    position: absolute;
}
.controls button {
    font-size: 30px;
    text-shadow: 2px 2px 0 #ccc;
    color: #898989 !important;
}
.controls button+button {
    margin-left: 25px
}
.innerctrl {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    width: 240px;
    text-align: center;
    border-bottom: 2px solid rgba(218, 218, 218, 0.8);
}
.videoFrame {
    text-align: center;
}
.videoFrame button.button-icon
 {
    font-size: 40px;
}
.loginbox {
    padding: 6px !important;
    border-radius: 0px !important;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.75);
    width: 364px;
    text-align: center;
    float: left;
}
img.logo {
    width: 100%;
    margin-top: 43%;
}
.zflo {
    width: 54px;
    height: 23px;
    margin-top: 5px;
    margin-left: 5px;
}
.background {
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
}
.button-go {
    padding: 4px 10px;
    background: white;
    border: 0;
    border-radius: 0;
}
.module {
    width: 400px;
    margin: 0 auto;
}
.button.light {
    color: #bebebe;
}
.videoHolder {
    background: white;
    box-shadow: 0px 0px 5px #ccc;
    border-bottom: 2px solid #ccc;
}
.videoHolder .button-icon {
    margin: 10px 0;
    text-shadow: 2px 2px 0 #ccc;
}
.item-content .icon {
    color: #aaa;
}
.scroll-content {
    background: #ECECEC;
}
.list li {
    background: white;
}
/*Icon colors*/

.ion-edit {
    color: #4DC0C0;
}
.ion-record {
    color: #FA4E4E;
}
.ion-play {
    color: #5B7FF1;
}
.ion-stop {
    color: #F66A5E;
}
.appclass {
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
}
/*end*/