/* Empty. Add your own CSS if you like */

.controls {
    width: 100%;
    position: absolute;
}
.controls button {
    font-size: 30px;
}
.controls button+button {
    margin-left: 25px
}
.innerctrl {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.35);
    width: 300px;
    text-align: center;
}
.videoFrame {
    text-align: center;
}
.videoFrame button {
    font-size: 40px;
}
.inputborder
{
    width: 70%;
    outline:solid 1px gray;
    border-radius:5px;
}
.inputbox input
{
 display:block;
}
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
/*    align-content: : center;*/
	-webkit-appearance: none;
}
.inputboxcenter
{
    margin: 0 auto;
}
input.rounded:focus {
	border-color: #339933;
}
