<ion-view title="Review">
    <ion-nav-buttons side="left">
        <a class="button button-icon light icon ion-home" href="#/app/loginpage"></a>
        <button class="button button-icon icon ion-trash-a" ng-click="cleardata();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        
        <button class="button button-icon icon ion-stats-bars" ng-click="toggleRight();"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ul class="list">
            <li class="item item-toggle" style="z-index: 5;">
                Did The Customer Purchase The Shoe?
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="orderdetails.shoe" ng-change="premiumchange()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <di ng-class="slideclass">
                <li class="item item-toggle">
                    Was it a Premium Sale?
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="orderdetails.premium">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Did the Customer Purchase an insole?
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="orderdetails.insole">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                </div>
        </ul>
        <div class="padding">
            <button class="button button-full button-assertive" ng-click="submitorder();">
                Submit
            </button>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title" style="font-size: 14px;">zFlo &copy; 2014 All rights reserved.</div>
    </div>
</ion-view>