<ion-view title="Gait Authority">
    <ion-content class="has-header">
        <div class="controls">
            <div class="innerctrl">
                <button class="button button-icon ion-edit" ng-click=""></button>
                <button class="button button-icon ion-play" ng-click=""></button>
                <button class="button button-icon ion-stop" ng-click=""></button>
            </div>
        </div>
        <div class="row videoFrame">
            <div class="col">
                <video width="100%" height="{{autoHeight}}" controls>
                    <source src="movie.mp4" type="video/mp4">
                </video>
                <button class="button button-icon ion-record" ng-click="captureVideo();"></button>
            </div>
            <div class="col">
                <video width="100%" height="{{autoHeight}}" controls>
                    <source src="movie.mp4" type="video/mp4">
                </video>
                <button class="button button-icon ion-record" ng-click="captureVideo();"></button>
            </div>
        </div>
    </ion-content>
</ion-view>