




<ion-view title="Record Video 2">
    <ion-nav-buttons side="left" ng-controller="menuCtrl">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon light icon ion-home" href="#/app/loginpage"></a>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <div  style="height:{{autoHeight}}px">

            <div>
                <div class="videoeditpencil">
                    <span class="ion-edit"></span>
                </div>
            </div>
            <div class="videosection" style="height:{{autoHeight-93}}px;">

            </div>
            <div class="videoseeker">
                <input type="range" class="videoseek">
            </div>
            <div class="videocontrols clearfix">
                <div class="logo innercontrols"><img src="img/logo.png" alt=""></div>
                <div class="addvideo mybutton innercontrols">Add Video</div>
                <div class="videoplayer innercontrols">
                    <div class="playerbutton">
                        <span class="ion-record"></span>
                    </div>
                    <div class="playerbutton">
                        <span class="ion-play"></span>
                    </div>
                    <div class="playerbutton">
                        <span class="ion-ios7-pause"></span>
                    </div>
                    <div class="playerbutton">
                        <span class="ion-stop"></span>
                    </div>
                    <div class="playerbutton">
                        <input type="range" class="videospeedchanger">
                    </div>

                </div>
                <div class="innercontrols playerbutton last">
                    <span class="ion-arrow-right-a"></span>
                </div>
                <div class="innercontrols playerbutton last">
                    <span class="ion-clock"></span>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>