<ion-view title="Record video">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon light icon ion-home" href="#/app/record"></a>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <div class="controls">
            <div class="innerctrl" style="z-index: 5; position: relative;">
                <button class="button button-icon ion-edit video1edit" ng-click="getpencil('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                <button class="button button-icon ion-ios7-close video1nonedit" ng-click="getpencil('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                <!--<button class="button button-icon ion-ios7-play video1play" ng-click="playpause();"></button>
                <button class="button button-icon ion-ios7-pause video1pause" ng-click="playpause();"></button>-->

            </div>
        </div>
        <div class="row videoFrame">


            <div class="col col-50" style="margin:0 auto;">
               <button class="button button-full button-positive" ng-click="addvideo();">
                    Add Video
                </button>
                <div class="videoHolder" ng-controller="RecordSeekCtrl">

                    <div class="videosec" style="overflow:hidden;">
                        <div id="content" style="width: 100%;height: 485px;position: absolute;left: 0px;" on-swipe="otherswipe();"></div>

                        <div class="myvideocon1">
                            <video class="video1" width="100%" height="{{autoHeight}}">

                            </video>
                        </div>

                    </div>
                    <div class="range">
                        <input type="range" class="video1seek" ng-model="ngvideo1.seek" ng-change="onchangevideoseek('.video1', ngvideo1.seek,0 ,'.video1edit','.video1nonedit','#content','canvas');" name="volume" min="0" max="100">
                    </div>

                    <!--  <video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  >
 <source src="https://www.youtube.com/watch?v=TvngY4unjn4" />
 </video>-->
                    <div class="row">
                        <div class="col col-33">
                            <button class="button button-icon ion-record" ng-click="captureVideo('.myvideocon1', 'video1','.video1','.video1seek','.video1play','.video1pause');"></button>
                            <button class="button button-icon ion-play video1play" ng-click="playpause('.video1', '.video1speed','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                            <button class="button button-icon ion-ios7-pause video1pause" ng-click="playpause('.video1', '.video1speed','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                            <button class="button button-icon ion-stop" ng-click="resetvideo('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                        </div>
                        <div class="col col-67">
                            <div class="range">
                                <input type="range" class="video1speed" ng-model="video1.speed" ng-change="onchangevideospeed('.video1', video1.speed);" name="speed1" min="5" max="100">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button button-full button-positive" ng-click="addvideo();">
                    Add Video
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>