<ion-view title="Record Video">
    <ion-nav-buttons side="left" ng-controller="menuCtrl">
        <a class="button button-icon light icon ion-home" href="#/app/loginpage"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-edit video1edit" ng-click="getpencil('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
        <button class="button button-icon icon ion-ios7-close video1nonedit" style="display:none" ng-click="getpencil('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
        <button class="button button-icon icon ion-trash-a" ng-click="cleardata();"></button>
        <button class="button button-icon icon ion-stats-bars" ng-click="toggleRight();"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <div style="height:{{autoHeight}}px">

            <div class="videosection" style="height:{{autoHeight-93}}px;">
                <div id="content" style="width: 100%;height: 485px;position: absolute;left: 0px;" on-swipe="otherswipe();"></div>
                <div class="myvideocon1" ng-click="playpause('.video1', '.video1speed','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');">
                    <video class="video1" width="100%" height="100%">

                    </video>
                </div>
            </div>
            <div class="videoseeker">
                <input type="range" class="videoseek video1seek" ng-model="ngvideo1.seek" ng-change="onchangevideoseek('.video1', ngvideo1.seek,0 ,'.video1edit','.video1nonedit','#content','canvas');" name="volume" min="0" max="100">
            </div>
            <div class="videocontrols clearfix">
                <div class="logo innercontrols">
                    <img src="img/logo.png" alt="">
                </div>
                <button class="button addvideo mybutton innercontrols" ng-click="addvideo();">Add Video</button>
                <div class="videoplayer innercontrols">
                    <button class="button button-icon icon ion-record" style="color:#ef3323" ng-click="captureVideo('.myvideocon1', 'video1','.video1','.video1seek','.video1play','.video1pause');"></button>
                    <button class="button button-icon icon ion-play video1play" ng-click="playpause('.video1', '.video1speed','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                    <button class="button button-icon icon ion-ios7-pause video1pause" style="display:none" ng-click="playpause('.video1', '.video1speed','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                    <button class="button button-icon icon ion-stop" ng-click="resetvideo('.video1','.video1play','.video1pause', 0, '.video1edit', '.video1nonedit','#content','canvas');"></button>
                </div>
                <!--<input type="range" class="videospeedchanger video1speed" ng-model="video1.speed" ng-change="onchangevideospeed('.video1', video1.speed);" name="speed1" min="5" max="100">-->
                <button class="button button-icon icon ion-speedometer" ng-click="videospeed('.video1', 0.4);"></button>
                <button class="button button-icon icon ion-arrow-right-a" ng-click="exitfunction();"></button>
            </div>

        </div>
    </ion-content>
</ion-view>