<ion-view title="Record video">
    <ion-nav-buttons side="left">
        <img src="img/zFlo.png" alt="" class="zflo">
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="controls">
            <div class="innerctrl">
                <button class="button button-icon ion-edit" ng-click=""></button>
                <button class="button button-icon ion-play" ng-click=""></button>
                <button class="button button-icon ion-stop" ng-click=""></button>
            </div>
        </div>
        <div class="row videoFrame">
           
            <div class="col col-50" style="margin:0 auto;">
                <div class="videoHolder">
                   <video id="video1" width="100%" height="{{autoHeight}}">
                         <source src="C:\Users\Pixolo\Downloads\A Million Ways to Die in the West (2014) [1080p]/A.Million.Ways.to.Die.in.the.West.2014.1080p.BluRay.x264.YIFY.mp4" type="video/mp4">
                    </video>
                  <!--  <video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  >
 <source src="https://www.youtube.com/watch?v=TvngY4unjn4" />
 </video>-->
                    <button class="button button-icon ion-record" ng-click="captureVideo();"></button>
                    <button class="button button-icon ion-record" ng-click="playpause();"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>